.footer{

	background-image: linear-gradient(to bottom, var(--color-a), var(--color-c));
}

.footer tr , .footer td ,.footer table {
	color:#ffffff;
	border-style:none;
	opacity:1;
	margin:0;
	text-align; text-top;
}

.footer table {
	table-layout:fixed;
	width:100%;
}

.footer p, h3 {
	vertical-align: text-top;
	margin:20px;
}

.footer a {
    display: block;
    
	color: #ffffff;
    opacity: 1;
    text-decoration: none;
}

.footer a:hover {
	opacity: 0.6;
}